<!DOCTYPE html>
<html lang="en">
<%-include('./head')%>
<body>
    <%-include('./layout');%>
    <h1><%=title%></h1>
    <form action="" method="post">
        <div class="form-group">
            <label for="first_name"></label>
            <input type="text" id="first_name" class="form-control" name="first_name" required="true" value="<%= undefined === author ? '' : author.first_name%>">
            <label for="family_name"></label>
            <input type="text" name="family_name" id="family_name" class="form-control" required="true" value="<%=undefined===author ? '' : author.family_name%>">
            <div class="form-group">
                <label for="date_of_birth"></label>
                <input type="date" id="date_of_birth" class="form-control" name="date_of_birth" value="<%=undefined===author ? '' : author.date_of_birth%>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <% if (errors) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li><%=error.msg%></li>
            <% })%>
        </ul>
    <%}%>
</body>
</html>